.locations-selection {
    /* border: 1px solid #e8e8e8; */
    border-radius: 4px;
    overflow: auto;
    /* padding: 0px 8px; */
    height: calc(100vh - 64px - 32px);
  }

  .list {
    border-bottom: 2px dashed #cecece;
    border-radius: 4px;
    margin: 1px 0;
  }
  
  .list:hover {
    color: tomato;
    background: #f7f7f7;
  }

  .list-content{
    padding:  0 8px;
    font-style: italic;
  }
  
  .selected-list{
    background: #cfcfcf;
    color: #1890ff;
  }
  
  .selected-list:hover{
    color: tomato;
  }