.locations-selection {
    border-radius: 4px;
  }

.list-container {
    overflow: auto;
    height: calc(100vh - 64px - 32px - 32px - 7.5em);
  }

.list-item {
    border-bottom: 1px solid #cecece;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: linear;
    cursor: pointer;
  }
  
.list-item:hover {
    background-color: #e1eef9;  
  }

.list-content {
    padding-left: .5em;
  }
  
.selected-list-item {
    background-color: #e1eef9;
    font-weight: 500;
  }


  .subtitle {
    margin: 1.75em 0 .5em 0;
    font-weight: 600;
    font-size: .75em;
    color: rgb(110, 110, 110)

  }

