.menu-btn-wrapper {
    padding: 0 4em 0 1em;
    height: 100%;
    transition-property: all;
    transition-duration: .15s;
    transition-timing-function: linear;
}

.menu-btn-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.342);
}

.menu-btn.ant-btn{
    border-color: transparent;
    height: inherit;
    color: #a1a7b1;
}

.menu-btn.ant-btn:hover {
    border-color:transparent;
    color:white;
}

.drawer {
    
}