.button-container {
    text-align: center;
    padding: 0 1em 1em 1em;
    display: flex;
    justify-content: space-between
}

.add-loc-wizard-wrapper {
    padding: 1em 1em 0 1em;
}

@media screen and (max-width:800px) {
    .main-locations {
        display: block;
    }
}