 .logo {
     width: 120px;
     height: 31px;
     background: rgba(255, 255, 255, .2);
     margin: 16px 24px 16px 0;
     float: left;
 }

 .sign-up-button {
     float: right;
     margin: 1.1em;
 }

 .avatar {
     float: right;
     color: white
 }

 .avatar Avatar {
     margin-right: 5em;
 }