.header-mobile {
  background: #001529
}

.logo {
  width: 48px;
  height: 48px;
  margin: 8px 0;
  background-image: url('../../Logo/FoodStepsLogo.png');
  background-size: cover;
}

.sign-up-button {
  float: right;
  margin: 1.1em;
}

.navbar-mobile-btn {
  margin: 1.1em;
}
