.header {
  /* css 'visible will distort the page', but 'overlay' might not be supported in firefox */
  overflow-y: overlay;
}

.header div.ant-layout-header {
  padding: 0;
}

.header-mobile {
  background: #001529;
}

.logo {
  width: 48px;
  height: 48px;
  margin: 8px 0;
  background-image: url('../../assets/FoodStepsLogo.png');
  background-size: cover;
}

.sign-up-button {
  float: right;
  margin: 1.1em;
}

.navbar-mobile-btn {
  margin: 1.1em;
}

.avatar {
  float: right;
  color: white;
  padding: 0 1em;
  cursor: pointer;
}

.avatar:hover {
  background-color: #3e4a56;
}

.avatar .avatar-username {
  margin-left: .75em;
}
