@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.detailed-locations-list {
  width:  60%;
  margin: 0 auto;
  height: calc(100vh-64px)
}

.ant-drawer {
  top: 9vh;
}

.ant-drawer-header {
  display: none;
}

.ant-drawer-content {
  background-color: #021529;
}

.ant-drawer-body {
  padding: 0
}

