@import '~antd/dist/antd.css';
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.detailed-locations-list {
  width:  60%;
  margin: 0 auto;
  height: calc(100vh-64px)
}

.map {
    position: relative;
    height: calc(100vh - 64px);
}

.main-locations{
  display:grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 25px
}

#map-locations-map{
  grid-column: 1/2
}

#map-locations-list{
  grid-column: 2/ 3;
}
