.map {
    position: relative;
    height: calc(100vh - 64px);
}

.main-locations {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 25px
}

#map-container {
    grid-column: 1 / 2
}

#right-panel-container {
    grid-column: 2 / 3;
    margin-right: 1em;
    margin-top: 1em;
}