.map {
    position: relative;
    height: calc(100vh - 64px);
}

.main-locations {
    display: grid;
    grid-template-columns: 3fr 1fr;
    background-color:#fafafa;
}

#map-container {
    grid-column: 1 / 2
}

#right-panel-container {
    border-left: 1px solid #d3d3d352;
    grid-column: 2 / 3;
    margin: 0;
    padding: 0;
}

.locations-list-wrapper {
    overflow: auto;
    height: calc(100vh - 64px - 32px);
    padding: 1em;
}

.add-new-loc-btn-wrapper {
    text-align: center;
    padding: 1em;
    -webkit-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.144);
    -moz-box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.144);
    box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.144);
}

@media screen and (max-width:800px) {
    .main-locations {
        display: block;
    }

    .map {
        height: calc(80vh - 64px);
    }
  }
